.recommendation-section {
  max-width: 90vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 3.75rem;
}

.recommendation-section h2 {
  font-size: 2rem;
  font-weight: 700;
}

.slick-track {
  display: flex !important;
  gap: 1.5rem !important;
  flex-wrap: wrap !important;
  margin-bottom: 1.5rem !important;
}

.slick-dots li button:before {
  color: #ffcc4b !important;
}

li.slick-active {
  color: #ffb300 !important;
}

.recommendation-card {
  border: 1px solid #0000000d;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  /* min-height: 40vh !important; */
  width: 22rem !important;
  height: auto !important;
  padding: 1rem;
  background-color: #fff;
  margin-bottom: 1rem;
}

.recommendation-card .stars {
  text-align: left;
}

.recommendation-title {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 8px 0 !important;
  color: #2b2b2b;
  text-align: left;
}

.recommendation-description {
  margin: 0px 0 18px 0 !important;
  color: #767676;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: left !important;
}

.recommendation-card .card-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.card-container .profile-image {
  height: 5rem;
  width: 5.5rem;
  object-fit: cover;
}

.card-container .recommendation-content {
  text-align: left;
}

.recommendation-content .recommendation-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  color: #2b2b2b;
}
.recommendation-content .recommendation-profession {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #767676;
}

/* Style for previous arrow */
.slick-prev {
  left: -25px; /* Position outside the carousel */
  z-index: 1; /* Ensure it’s above other content */
}

/* Style for next arrow */
.slick-next {
  right: -25px; /* Position outside the carousel */
  z-index: 1;
}

/* Customize arrow appearance */
.slick-prev:before,
.slick-next:before {
  font-size: 20px; /* Size of the arrow */
  color: #f1c40f; /* Match the golden theme from dots */
  opacity: 0.75; /* Slight transparency */
}

@media (max-width: 1440px) {
  .recommendation-section {
    max-width: 90vw;
    margin: 0 auto;
    /* margin-top: -20px; */
    text-align: center;
    margin-top: 2rem;
    margin-left: 40px;
  }

  .recommendation-card {
    border: 1px solid #0000000d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    /* min-height: 40vh !important; */
    width: 22rem !important;
    height: 20rem !important;
    padding: 2rem;
    background-color: #fff;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
  }
}
